#!/usr/bin/env bash

# vim
alias vi=nvim
alias vim=nvim
alias vimdiff='nvim -d'

alias grep="egrep --color=always"

#verbose
alias ln="ln -v"
alias mkdir="mkdir -pv"

#git
alias g.="git add -p"
unalias gr
alias gr="git rebase"
alias gs="git s"
alias gsf="git sf"
alias gres="git restore"
alias gfr="git fr"
alias gfru="git fru"

#vscode
alias code="code-insiders"

# k8s
alias k="kubectl"
alias kns="kubens ce-smartlists-gql"
alias kn="kubens"
alias sl="sledge"
alias slc="sl connect"
alias slprod_w="slc wus-prod-a31 && kns"
alias slprod_s="slc scus-prod-a29 && kns"
alias slprod_e="slc eus2-prod-a18 && kns"
alias kpods="k get pods -o wide --sort-by=.metadata.creationTimestamp"
alias kwpod="k get pod -w -o wide --sort-by=.metadata.creationTimestamp"
alias kevents="k get events -w --sort-by=.metadata.creationTimestamp"
alias khpa="k get hpa"
alias kdp="k describe pod"
alias kdhpa="k describe hpa"
