#!/usr/bin/env bash

# vim
alias vi=nvim
alias vim=nvim
alias vimdiff='nvim -d'

alias grep="egrep --color=always"

#verbose
alias ln="ln -v"
alias mkdir="mkdir -pv" 

#git
alias g.="git add -p"
unalias gr
alias gr="git rebase"

#vscode
alias code="code-insiders"
