[alias]


[core]
  pager = "$_GIT_CONTRIB/diff-highlight/diff-highlight | $PAGER"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  #old = red # deletions # this is the default
  #new = green # additions # this is the default

[color "status"]
  added = yellow
  changed = green
  untracked = cyan


[commit]

  # https://help.github.com/articles/signing-commits-using-gpg/
  #gpgSign = true
  verbose = true

[interactive]
  diffFilter = "$_GIT_CONTRIB/diff-highlight/diff-highlight | $PAGER"

[rebase]
  instructionFormat = (%al) %s

[pull]
  fastforward = true
  ff = only

[user]
  email = Max.Coplan@walmart.com
  name = Max 👨🏽‍💻 Coplan

[help]
  autocorrect = 1


